/*
Source - https://stackoverflow.com/a
Posted by Gerard
Retrieved 2025-11-13, License - CC BY-SA 3.0
*/

.arrow {
    font-size: 0;
}
.inner-arrow {
	width:210px;
	height:80px;
    display: inline-block;
	background-color:green;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	line-height:80px;
    vertical-align: middle;
}
.arrow:before,
.arrow:after {
	content:'';
    display: inline-block;
	width:0;
	height:0;
	border:40px solid transparent;
    vertical-align: middle;
}

.arrow:after {
	border-left-color: green;
}
