body {
    margin: 0 auto;
    width: 750px;
    padding: 10px;
    background-color: orange;
    font-family: sans-serif;
  }
  
  fieldset {
    text-align: center;
    min-height: 450px;
    background-color: lightblue;
    border-radius: 10px;
  }
  
  header {
    background: #007ba4;
    text-align: center;
    color: white;
    width: 750px;
    height: 40px;
  }
  
  nav li {
    float: left;
    list-style: none;
    margin-top: 10px;
    padding-left: 10px;
    margin-left: 150px;
    color: white;
    height: 15px;
    padding-right: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  img {
    width: 80px;
    height: 80px;
    margin: 3px;
    cursor: pointer;
  }
  