/* Sivun perusasetukset */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

/* Otsikon tyylit */
h1 {
    text-align: center;
}

/* Lomakkeen tyylit */
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form input, form button {
    margin: 5px;
    padding: 10px;
}

/* Taulukon tyylit */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #4a90e2; /* Otsikkosolun taustaväri */
    color: white; /* Otsikkosolun tekstiväri */
}
