*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;
}
#left, #right{
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed white;
}
.list{
    background-color: #e91e63;
    height: 60px;
    margin: 30px;
    color: white;
    display: flex;
    align-items: center;
    cursor: grab;
}